<section id="cajaInvestigaciones">
    <div class="cajaInvestigacion">
        <button class="botonInvestigacion" id="botonCursor" type="button" (click)="addInvest(precioCursor,1,'cursor')">
            Cursor {{precioCursor}}&euro;
        </button>
    </div>
    <div class="cajaInvestigacion">
        <button class="botonInvestigacion" id="botonCliente" type="button"
            (click)="addInvest(precioCliente,2,'cliente')">
            Cliente {{precioCliente}}&euro;
        </button>
    </div>
    <div class="cajaInvestigacion">
        <button class="botonInvestigacion" id="botonBanquero" type="button"
            (click)="addInvest(precioBanquero,3,'banquero')">
            Banquero {{precioBanquero}}&euro;
        </button>
    </div>
    <div class="cajaInvestigacion">
        <button class="botonInvestigacion" id="botonGranja" type="button" (click)="addInvest(precioGranja,4,'granja')">
            Granja {{precioGranja}}&euro;
        </button>
    </div>
    <div class="cajaInvestigacion">
        <button class="botonInvestigacion" id="botonMina" type="button" (click)="addInvest(precioMina,5,'mina')">
            Mina {{precioMina}}&euro;
        </button>
    </div>

</section>